{% extends 'base.html' %}

{%  block content %}



    <div style = 'text-align: center;'>
        <h1> http method </h1>
        {#요청을 보내겠다는 주소를 action에 입력, method에 보내는 방식을 입력#}
        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %} {# 이구문을 작성해야 정상적으로 작동함 #}
            <input type="text" name="input_text">
            <input type="submit" class="btn btn-outline-dark rounded-pill px-5">
        </form>
    <h3>{{ model_instance.text }}</h3>
    </div>

{% endblock %}