{%  extends 'base.html' %}


{% block content %}

    <div class="text-center mw-500 m-auto">
        <div class="m-5">  {# 기본적으로 제공해주는 클래스 #}
            <h4>Delete Comment</h4>
        </div>
        <div>
            <form action="{% url 'commentapp:delete' pk=target_comment.pk %}" method="post"> {# post형을 만들떄는 항상 토큰 넣기  / action은 요청을 보낼 경로             #}
                {% csrf_token %}

                <div class="m-5">

                    <input type="submit" class = 'btn btn-danger rounded-pill px-5'>
                </div>
            </form>
        </div>
    </div>

{%  endblock %}