{%  extends 'base.html' %}
{% load bootstrap4 %} {# bootstrap4를 가져오겠다 #}

{% block content %}

    <div class="text-center mw-500 m-auto">
        <div class="m-5">  {# 기본적으로 제공해주는 클래스 #}
            <h4>Create Project</h4>
        </div>
        <div>
            <form action="{% url 'projectapp:create' %}"
                  method="post" enctype="multipart/form-data"> {# post형을 만들떄는 항상 토큰 넣기  / action은 요청을 보낼 경로             #}
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="m-5">

                    <input type="submit" class = 'btn btn-outline-dark rounded-pill px-5'>
                </div>


            </form>
        </div>
    </div>

{%  endblock %}