.pragmatic_header_logo{
    margin: 2rem 0; font-family: 'Zen Tokyo Zoo', cursive;
}

.pragmatic_header_botton{
    margin-bottom: 2rem;
}

.pragmatic_footer_logo{
    margin: 1.5rem 0; font-family: 'Zen Tokyo Zoo', cursive;
}

.pragmatic_footer_botton{
    margin-top: 2rem;
}

.pragmatic_body_first{
    height: 20rem; background-color: gray; margin: 2rem; border-radius: 1rem;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: "NanumSquareB", cursive;
}

.round_button {
    color: black;
    text-decoration: none;  /* 아이콘에 밑줄을 없애준다. */
    box-shadow: 0 0 3px black; /* 1번째 2번째 숫자는 그림자 위치, 3번째 숫자는 크기, 색깔 */
    border-radius: 20rem;
    padding: 0.3rem;
}

/* 마우스가 올라갔을때 어떤 동작을 하는지 */
.round_button:hover{
    color : dimgray;
}

.article_content {
    text-align: left;
    font-size: 1.1rem;
}

.article_image {
    border-radius: 2rem;
    width: 60%;
    box-shadow: 0 0 1rem #bcbcbc;
}

.comment_box {
    text-align: left;
    border: solid;
    border-color: #bfbcbc;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
/*폭이 500px 이하일떄까지 이걸 적용시킨다는 말*/
@media screen and (max-width: 500px) {
    html{
        /* default font-size = 16px */
        font-size: 13px;
    }
}