.pragmatic_header_logo{
    margin: 2rem 0; font-family: 'Zen Tokyo Zoo', cursive;
}

.pragmatic_header_botton{
    margin-bottom: 2rem;
}

.pragmatic_footer_logo{
    margin: 1.5rem 0; font-family: 'Zen Tokyo Zoo', cursive;
}

.pragmatic_footer_botton{
    margin-top: 2rem;
}

.pragmatic_body_first{
    height: 20rem; background-color: gray; margin: 2rem; border-radius: 1rem;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}